.container {
  background: transparent;
  width: 100%;
  position: absolute;
  height: 13%;
  bottom: 0;
  padding: 0px 2%;
}

.controls_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.playback_controls_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  width: 100%;
}
