.icon {
  height: 40px;
  width: 40px;
  transition: width 0.5s;
}

.icon:hover {
  cursor: pointer;
  height: 48px;
  width: 48px;
}

video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
/* Style to hide the default fullscreen button */
video::-webkit-media-controls-fullscreen-button {
  display: none;
}

@media only screen and (max-width: 550px) {
  .icon {
    height: 30px;
    width: 30px;
    transition: none;
  }

  .icon:hover {
    height: 30px;
    width: 30px;
  }

  .mobile_icon {
    height: 40px;
    width: 40px;
  }

  .mobile_icon:hover {
    height: 40px;
    width: 40px;
  }
}
