.video_playback_controls_container {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 50px;
}

.image {
  width: 44px;
  height: 44px;
}

.image:hover {
  cursor: pointer;
}

body {
  background-color: #000;
}

.title {
  user-select: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  margin: 42px auto 0;
}

@media only screen and (max-width: 550px) {
  .video_playback_controls_container {
    height: 30px;
    padding: 0px 5px;
  }
}
