.container {
  position: absolute;
  bottom: 15px;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon_container > p {
  font-weight: bold;
}
