.overlay_container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.overlay_top_container {
  height: 50%;
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.1));
}

.overlay_bottom_container {
  height: 50%;
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8));
}

.loading_spinner_container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  bottom: 50px;
}

/* HTML: <div class="loader"></div> */
.loading_spinner {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, red 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, red);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 0.9s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.play_pause_animation_container {
  position: absolute;
  top: calc(50% - 100px);
  display: flex;
  justify-content: center;
  width: 100%;
}

.play_pause_animation_container > img {
  width: 75px;
  height: 75px;

  background-color: black;
  padding: 20px 20px 20px 25px;
  border-radius: 50%;
  display: none;
}

.unable_to_load_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  bottom: 50px;
}

.unable_to_load_container > svg {
  width: 120px;
  height: 120px;
  fill: white !important;
}

.unable_to_load_container > p {
  color: red;
  font-size: 20px;
}

@media (pointer: none), (pointer: coarse) {
  .loading_spinner_container {
    bottom: 15px;
  }

  .unable_to_load_container {
    bottom: 20px;
  }

  .unable_to_load_container > svg {
    width: 80px;
    height: 80px;
  }
}
